html, body{
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0;
padding:0;
text-decoration: none;

}
h1{
    font-weight:bold;
    font-size: 50px;
}
p{
    font-weight:normal;
    font-size: 20px;
}

.navbar{
    width: 100%;
    height: 10vh;
    padding: 1rem 15%;
    margin: 0 auto;
    min-height: 3.25rem;
    position: relative;
}

.navbar-logo{
    width: 4rem;
    height: 4rem;
    float: left;
    border-radius: 5px;
}
.fas{
    font-size:30px; 
    text-decoration: none;
    float: left;
    color:#4233AD;
    padding: 0.5rem 0.8rem;
    border: 2px solid #4233AD;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.fas:hover {
    background-color: #4233AD;
    color: #fff;
}
button{
    background-color: #fff;
    color: #4233AD;
    border: 2px solid #4233AD;
    font-size: 18px;
    cursor: pointer;
    border-radius: 18px;
    padding: 0.6rem 1.5rem;
    float: right;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button:hover {
    background-color: #4233AD;
    color: #fff;
}

.Topo{
    height: 90vh;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inicio{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.avatar{
    width: 80%;
    max-width: 350px;
    
}
.hero{
    height: 35vh;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}
.hero-img{
    width: 100%;
}


.bio{
    background-color: #4233AD;
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding: 2rem 0;
}
.contaner{
    padding-top: 3rem;
    width: 45%;
    margin: 0 auto;
}
.skills{
    padding-top: 3rem;
    width: 60%;
    margin: 0 auto;
}
.row{
    background-color: #fff;
    border-radius: 2rem;
    margin-bottom: -14rem;
    box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
}
.column{
    float: left;
    height: 100%;
    width: 50%;
    padding: 3rem;
    color: #000;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.portfolio{
    padding: 3rem;
    height: 100%;
    margin-top: 12rem;
}
.portfolio:after {
    content: "";
    display: table;
    clear: both;
}

.projects-grid{
    width: 60%;
    margin: 0 auto;
    padding: 3rem;
}
.column-grid{
    width: 48%;
    float: left;
    padding: 0;
    position:relative;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    
}
.thumb{
    width: 100%;
    border-radius: 20px;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(66, 51, 173, 0.7);;
    border-radius: 20px;
}

.column-grid:hover .overlay {
    opacity: 1;
}

.text-button {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
}
.button-portfolio{
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px 50px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button-portfolio:hover{
    background-color: #fff;
    color: #4233AD;
}
.section{
    background-color: #4233AD;
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding: 2rem 5rem;
}
/* Style all font awesome icons */
.fa {
    padding: 15px;
    font-size: 60px;
    width: 50px;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 1rem;
    border: 1px solid white;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

/* Add a hover effect if you want */
.fa:hover {
    color: #4233AD;
    background: white;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 700px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4233AD;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #fff;
    color: #4233AD;
    border: 2px solid #4233AD;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    padding: 20px;
}

.icon-mobile {
    width: 20%;
}

.navbar-logo-white{
    height: 8vh;
}


@media screen and (max-width:620px){
    h1{
        font-size: 40px;
}
    .navbar {
        padding: 1rem 1rem;
    }
    .navbar-logo{
    width: 3rem;
    height: 3rem;
    float: left;
}
    .Topo{
    padding: 0 2rem;
}
    .hero{
        width: 100%;
}
    .bio{
        width: 100%;
        padding: 2rem 2rem;
    }
    .contaner{
        width: 100%;
    }
    .skills{
        width: 100%;
    }
    .column{
        float: left;
        height: 100%;
        width: 100%;
        padding: 2rem;
    }
    .portfolio{
        height: 100%;
        padding: 2rem;
    }
    
    .projects-grid{
        width: 80%;
        padding: 0;
    }
    .column-grid{
        width: 100%;
    }
    .section{
    padding: 2rem 2rem;
}
    
}