html, body{
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    text-align: center;
    margin: 0;
    padding:0;
    text-decoration: none;
}
* {
  box-sizing: border-box;
}
h1{
    font-weight:bold;
    font-size: 50px;
}
p{
    font-weight:normal;
    font-size: 20px;
}
.navbar{
    background-color: #fff;
    width: 100%;
    height: 7rem;
    padding: 2rem 3rem;
    margin: 0 auto;
    min-height: 3.25rem;
    position: relative;
}

.navbar-logo{
    width: 4rem;
    height: 4rem;
    float: left;
    border-radius: 5px;
}
button{
    background-color: #fff;
    color: #4233AD;
    border: 2px solid #4233AD;
    font-size: 18px;
    cursor: pointer;
    border-radius: 18px;
    padding: 0.6rem 1.5rem;
    float: right;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button:hover {
    background-color: #4233AD;
    color: #fff;
}
.Topo{
    max-height: 100%;
    padding: 0 5rem;
}
.inicio{
    padding-top: 3rem;
}
.avatar{
    width: 60%;
    max-width: 300px;
    padding: 5rem 0;
}
.hero{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.hero-img{
    width: 100%;
}
.contanier-menu{
    height: 100%;
}

.bio{
    background-color: #4233AD;
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding: 2rem 0;
}
.contaner{
    padding-top: 3rem;
    width: 40%;
    margin: 0 auto;
}
.skills{
    padding-top: 3rem;
    width: 60%;
    margin: 0 auto;
}
.row{
    background-color: #fff;
    border-radius: 2rem;
    margin-bottom: -14rem;
    box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
}
.column{
    float: left;
    height: 100%;
    width: 50%;
    padding: 3rem;
    color: #000;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.portfolio{
    padding: 3rem;
    height: 100%;
    margin-top: 12rem;
}
.portfolio:after {
    content: "";
    display: table;
    clear: both;
}

.projects-grid{
    width: 60%;
    margin: 0 auto;
    padding: 3rem;
}
.column-grid{
    width: 48%;
    float: left;
    padding: 0;
    position:relative;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    
}
.thumb{
    width: 100%;
    border-radius: 20px;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #4233AD;
    border-radius: 20px;
}

.column-grid:hover .overlay {
    opacity: 1;
}

.text-button {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
}
.button-portfolio{
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px 50px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button-portfolio:hover{
    background-color: #fff;
    color: #4233AD;
}
.section{
    background-color: #4233AD;
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding: 2rem 5rem;
}
.section:after {
    content: "";
    display: table;
    clear: both;
}
/* Style all font awesome icons */
.fa {
    padding: 15px;
    font-size: 60px;
    width: 50px;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 1rem;
    border: 1px solid white;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

/* Add a hover effect if you want */
.fa:hover {
    color: #4233AD;
    background: white;
}






@media screen and (max-width:1024px){
    h1{
        font-size: 40px;
}
    .navbar {
        padding: 2rem 1rem;
    }
    .navbar-logo{
    width: 3rem;
    height: 3rem;
    float: left;
}
    .Topo{
    padding: 0 2rem;
}
    .hero{
        width: 100%;
}
    .bio{
        width: 100%;
        padding: 2rem 2rem;
    }
    .contaner{
        width: 100%;
    }
    .skills{
        width: 100%;
    }
    .column{
        float: left;
        height: 100%;
        width: 100%;
        padding: 2rem;
    }
    .portfolio{
        height: 100%;
        padding: 2rem;
    }
    
    .projects-grid{
        width: 80%;
        padding: 0;
    }
    .column-grid{
        width: 100%;
    }
    .section{
    padding: 2rem 2rem;
}
    
}