.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  width: 40%;
}

.Cover{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35vh;
}
.ContentPerfil{
  margin-left: 5%;
}

.BioText{
  margin-top: 20px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}
